/* html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;

  } */
  /* .content {
    flex: 1 0 auto;
  } */
  
#footer {
    bottom: 0;
  }

body {
  background-image: url("https://image.freepik.com/free-vector/pirate-ship-background-approaching-island_23-2147630551.jpg");
}